
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  cursor: none;
}
body {
  min-height: 100vh;
  background: #000;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  overflow: hidden;
  cursor:none;
}
.custom-cursor {
  width: 0.5vw;
  height: 0.5vw;
  background-color: white;
  border-radius: 50%;
  outline: #000 solid 0.1vw;
  position: fixed;
  border-color: #000;
  pointer-events: none; /* Makes it click-through */
  transform: translate(-50%, -50%); /* Centers the dot */
  z-index: 9999; /* Ensures it's on top */
}

#bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

.page {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo-spin {
  width: min(2.5vw, 75px);
  height: auto;
  animation: spin 1.5s linear infinite;
}

.logo-no-spin {
  width: min(2.5vw, 75px);
  height: auto;
  animation: none;
}

/* .logo-link,
.logo-spin,
.logo-no-spin {
    cursor: pointer;
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}